.custom-pages-sliders {
	margin-bottom: 40px;
	.sliders-list {
		.sliders-item {
			position: relative;
			.sliders-item-remove {
				position: absolute;
				bottom: 21px;
				left: 160px;
			}
			.sliders-item-copy {
				position: absolute;
				bottom: 21px;
				left: 320px;
			}
		}
	}
	.sliders-controls {
		.sliders-controls-add {

		}
	}
}